
.header-project {
    background-color: #232f3e;
}  

.container-header {
  background-color: #232f3e;
  width: 100%;
}

.input-form {
  background-color: #FFFFFF;
  border: none;
  font-size: 0.813rem;
  width: 600px;
  padding: 0.375rem 0.30rem;
  margin-right: 0.30rem;
  border-radius: 4px;
}

.btn-form {
  border: none;
  padding: 0.375rem 3rem;
  font-size: 0.813rem;
  border-radius: 4px;
}

.an {
  text-decoration: none;
  color: black;
  margin: 0rem;
}


@media(max-width: 576px) {

  .container-header {
    background-color: #232f3e;    
  }

  .header-form {
      width: 100%;
      margin: 0 auto;
  }
    
  .input-form {
      width: auto;
      border: none;
  }
    
  .btn-form {
      border: none;
  }    
}

