* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

body {
  background-color: #e7e7e7;   
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.section-product {
  background-color: #f7f7f7;
  width: 100%;
}

.container-product {
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  background-color: #fff;
}

.box-1 {
  padding: 0px 22px;
}

.slick-slider {
  margin-bottom: 10px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 20px;
  width: auto;
  margin: 0px;
  width: 40%;
}

.condition-product {
  font-size: 1rem;
  color: rgb(78, 78, 78);
}

.product-title {
  margin-top: 0.90rem;
  margin-bottom: 0.70rem;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18;
}

.product-price {
  font-size: 2.25rem;
  font-weight: 300;
}

.options {
  color: #3483fa;
  font-size: 0.875rem;
}

.description-title {
  margin: 1rem 0rem;
  font-size: 1rem;
}

.prod-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.box-3 {
  margin-top: 1rem;
  padding: 40px 20px 20px;
  width: 60%;
  height: 500px;
  overflow: scroll;
}    


@media(max-width: 576px){


  .container-product {
    padding: 10px;
  }

  .carousel-img {
    width: auto;
  }

  .box-2 {
    width: auto;
    margin-top: 1rem;
    padding: 1rem;
  }


  .product-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.18;
  }

  .product-price {
    font-size: 1.80rem;
    font-weight: 300;
  }

  .box-3 {
    padding: 1rem;
    height: 500px;
    width: 100%;
    overflow: scroll;
  }

  .description-title {
    margin: 1rem 0rem;
    font-size: 1rem;
  }

  .prod-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(100, 100, 100);
  }
}




/*
.section-product {
  background-color: #f7f7f7;
  width: 100%;
  margin: 2rem 0rem;
}

.container-product {
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-1 {
  width: 60%;
  height: auto;
  padding: 0px 22px;
}

.slick-slider {
  margin-bottom: 10px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 20px;
  width: auto;
  margin: 0px;
  width: 40%;
}


.condition-product {
  font-size: 1rem;
  color: rgb(78, 78, 78);
}
 
.product-title {
  margin-top: 0.90rem;
  margin-bottom: 0.70rem;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18;
}

.product-price {
  font-size: 2.25rem;
  font-weight: 300;
}

.options {
  color: #3483fa;
  font-size: 0.875rem;
}

.description-title {
  margin: 1rem 0rem;
  font-size: 1rem;
}

.prod-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.box-3 {
  margin-top: 1rem;
  padding: 40px 20px 20px;
  width: 60%;
  height: 500px;
  overflow: scroll;
}    

@media(max-width: 576px){
   
    
    .section-product {
       padding: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 8px;
        background-color: #fff;
        width: auto;
    }

    .box-1 {
        width: 100%;
        height: auto;
        padding: 5px 2px;
    }

    .carousel-img {
         width: auto;
    }

    .box-2 {
      display: flex;
      flex-direction: column;
      width: auto;
      margin-top: 1rem;
      padding: 1rem;
    }

    .condition-product {
      font-size: 1rem;
      color: rgb(78, 78, 78);
    }

    .product-title {
      margin-top: 0.90rem;
      margin-bottom: 0.70rem;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.18;
    }

    .product-price {
      font-size: 1rem;
      font-weight: 300;
    }

    .options {
      color: #3483fa;
      font-size: 0.875rem;
    }

    .box-3 {
      padding: 1rem;
      height: 500px;
      width: 100%;
      overflow: scroll;
    }

    .description-title {
      margin: 1rem 0rem;
      font-size: 1rem;
    }

    .prod-description {
      font-size: 1rem;
      font-weight: 400;
      color: rgb(100, 100, 100);
    }
}

/* 

.section-product {
    padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 8px;
  background-color: #fff;
  width: auto;
}

.box-1 {
  width: 100%;
  height: auto;
  padding: 5px 2px;
}

.carousel-img {
  width: auto;
}

.box-2 {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.condition-product {
  font-size: 1rem;
  color: rgb(78, 78, 78);
}

.product-title {
  margin-top: 0.90rem;
  margin-bottom: 0.70rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.18;
}

.product-price {
  font-size: 1rem;
  font-weight: 300;
}

.options {
  color: #3483fa;
  font-size: 0.875rem;
}

.box-3 {
  padding: 1rem;
  height: 500px;
  width: 100%;
  overflow: scroll;
}

.description-title {
  margin: 1rem 0rem;
  font-size: 1rem;
}

.prod-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(100, 100, 100);
}



@media(min-width: 480px) {

  .section-product {
    background-color: #f7f7f7;
    width: 100%;
    margin: 2rem 0rem;
  }

  .container {
    width: 50%;
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box-1 {
    width: 60%;
    height: auto;
    padding: 0px 22px;
  }

  .slick-slider {
    margin-bottom: 10px;
  }


  .box-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    padding: 20px;
    width: auto;
    margin: 0px;
    width: 40%;
  }

  .condition-product {
    font-size: 1rem;
    color: rgb(78, 78, 78);
  }
   
  .product-title {
    margin-top: 0.90rem;
    margin-bottom: 0.70rem;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.18;
  }
  
  .product-price {
    font-size: 2.25rem;
    font-weight: 300;
  }

  .options {
    color: #3483fa;
    font-size: 0.875rem;
  }

  .description-title {
    margin: 1rem 0rem;
    font-size: 1rem;
  }
  
  .prod-description {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(100, 100, 100);
  }

  .box-3 {
    margin-top: 1rem;
    padding: 40px 20px 20px;
    width: 60%;
    height: 500px;
    overflow: scroll;
  }    
}

*/