* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.box-presentation {
 padding: 2rem 3rem;
}

.box {
  width: 18rem;
}

li {
  color: black;
  list-style-type: none;
  padding: 1rem;
}

.card {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.email {
  font-size: 0.875rem;
}

img {
  width: 200px;
  padding: 0.30rem 0rem;
}

/* Services page */


.content-text {
  width: 60%;
}

/* Titles */

.title-page {
  padding: 2rem 0rem;
  color: rgb(27, 28, 39);
}

.subtitle-services {
  font-size: 22px;
  font-weight: 600;
}

